In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys  
sys.path.insert(0, '../source/')
from plot_utils import *
from preprocess_data_utils import *

In [2]:
sample_meta1 = pd.read_csv("../data/sample_plasticc/train_metadata200K_eg.csv")
sample_meta2 = pd.read_csv("../data/sample_plasticc/val_metadata200K_eg.csv")
sample_meta3 = pd.read_csv("../data/sample_plasticc/test_metadata200K_eg.csv")

In [3]:
sample_meta = pd.concat([sample_meta1,sample_meta2,sample_meta3])

In [4]:
#sn only
classes=[90,67,52,42,62,95]
sample_meta = sample_meta[sample_meta.true_target.isin(classes)]
sample_meta

,object_id,ra,decl,ddf_bool,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target,...,true_rv,true_av,true_peakmjd,libid_cadence,tflux_u,tflux_g,tflux_r,tflux_i,tflux_z,tflux_y
0,384,359.8163,-44.0031,1,-9.00,0.813,0.037,43.547,0.013,0,...,0.0,0.0,60242.898,82,0.0,0.0,0.0,0.0,0.0,0.0
1,622,358.6481,-46.3751,1,-9.00,0.913,0.342,43.855,0.009,0,...,0.0,0.0,60215.434,117,0.0,0.0,0.0,0.0,0.0,0.0
2,1266,149.4141,1.9401,1,-9.00,0.650,0.018,42.949,0.018,0,...,0.0,0.0,60338.953,15,0.0,0.0,0.0,0.0,0.0,0.0
3,1536,33.5742,-5.0797,1,-9.00,0.579,0.145,42.645,0.016,0,...,0.0,0.0,60564.254,67,0.0,0.0,0.0,0.0,0.0,0.0
4,1578,51.8555,-28.6310,1,-9.00,0.583,0.171,42.664,0.009,0,...,0.0,0.0,60292.180,27,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100040,130779726,85.6452,-49.5077,0,-9.00,0.557,0.019,42.545,0.034,0,...,0.0,0.0,60234.883,30452,0.0,0.0,0.0,0.0,0.0,0.0
100041,130781636,11.4258,-29.6560,0,-9.00,0.805,0.047,43.520,0.016,0,...,0.0,0.0,60575.973,31699,0.0,0.0,0.0,0.0,0.0,0.0
100042,130783161,243.9844,-29.1422,0,0.26,0.316,0.740,41.083,0.265,0,...,0.0,0.0,60474.328,45833,0.0,0.0,0.0,0.0,0.0,0.0
100043,130786705,328.0078,-26.7771,0,-9.00,0.559,0.039,42.551,0.028,0,...,0.0,0.0,59735.383,5799,0.0,0.0,0.0,0.0,0.0,0.0
100044,130787817,147.3047,-37.3564,0,-9.00,0.528,0.031,42.402,0.154,0,...,0.0,0.0,60000.148,21292,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
#drop duplicate ids
sample_meta = sample_meta.drop_duplicates(subset='object_id',keep='first')
sample_meta

,object_id,ra,decl,ddf_bool,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target,...,true_rv,true_av,true_peakmjd,libid_cadence,tflux_u,tflux_g,tflux_r,tflux_i,tflux_z,tflux_y
0,384,359.8163,-44.0031,1,-9.00,0.813,0.037,43.547,0.013,0,...,0.0,0.0,60242.898,82,0.0,0.0,0.0,0.0,0.0,0.0
1,622,358.6481,-46.3751,1,-9.00,0.913,0.342,43.855,0.009,0,...,0.0,0.0,60215.434,117,0.0,0.0,0.0,0.0,0.0,0.0
2,1266,149.4141,1.9401,1,-9.00,0.650,0.018,42.949,0.018,0,...,0.0,0.0,60338.953,15,0.0,0.0,0.0,0.0,0.0,0.0
3,1536,33.5742,-5.0797,1,-9.00,0.579,0.145,42.645,0.016,0,...,0.0,0.0,60564.254,67,0.0,0.0,0.0,0.0,0.0,0.0
4,1578,51.8555,-28.6310,1,-9.00,0.583,0.171,42.664,0.009,0,...,0.0,0.0,60292.180,27,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100040,130779726,85.6452,-49.5077,0,-9.00,0.557,0.019,42.545,0.034,0,...,0.0,0.0,60234.883,30452,0.0,0.0,0.0,0.0,0.0,0.0
100041,130781636,11.4258,-29.6560,0,-9.00,0.805,0.047,43.520,0.016,0,...,0.0,0.0,60575.973,31699,0.0,0.0,0.0,0.0,0.0,0.0
100042,130783161,243.9844,-29.1422,0,0.26,0.316,0.740,41.083,0.265,0,...,0.0,0.0,60474.328,45833,0.0,0.0,0.0,0.0,0.0,0.0
100043,130786705,328.0078,-26.7771,0,-9.00,0.559,0.039,42.551,0.028,0,...,0.0,0.0,59735.383,5799,0.0,0.0,0.0,0.0,0.0,0.0
100044,130787817,147.3047,-37.3564,0,-9.00,0.528,0.031,42.402,0.154,0,...,0.0,0.0,60000.148,21292,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
sample_ids=sample_meta.object_id.unique()
sample_ids.size

254570

In [7]:
sample_1 = pd.read_csv("../data/sample_plasticc/train_data200K_eg.csv")
sample_2 = pd.read_csv("../data/sample_plasticc/val_data200K_eg.csv")
sample_3 = pd.read_csv("../data/sample_plasticc/test_data200K_eg.csv")

In [8]:
sample = pd.concat([sample_1,sample_2,sample_3])
sample

          object_id         mjd  passband       flux   flux_err  detected_bool
0               384  59770.3662         2   0.316210   0.628482              0
1               384  59770.3740         1  -1.227068   0.615700              0
2               384  59770.3817         3  -0.209973   1.062899              0
3               384  59770.3928         4   0.782777   1.821998              0
4               384  59770.4039         5   0.230164   4.643204              0
...             ...         ...       ...        ...        ...            ...
13014709  130787817  60670.3031         1  -1.138754   2.484680              0
13014710  130787817  60671.1935         0  11.299595   9.025595              0
13014711  130787817  60672.1950         0  -4.444971  11.218284              0
13014712  130787817  60673.1877         1   5.631177   3.113780              0
13014713  130787817  60674.2000         1   3.357212   4.125772              0

[37579970 rows x 6 columns]

In [9]:
sample = sample.rename(columns={"object_id": "id", "mjd": "time", "passband":"band", "flux_err":"fluxerr"})
sample

                 id        time  band       flux    fluxerr  detected_bool
0               384  59770.3662     2   0.316210   0.628482              0
1               384  59770.3740     1  -1.227068   0.615700              0
2               384  59770.3817     3  -0.209973   1.062899              0
3               384  59770.3928     4   0.782777   1.821998              0
4               384  59770.4039     5   0.230164   4.643204              0
...             ...         ...   ...        ...        ...            ...
13014709  130787817  60670.3031     1  -1.138754   2.484680              0
13014710  130787817  60671.1935     0  11.299595   9.025595              0
13014711  130787817  60672.1950     0  -4.444971  11.218284              0
13014712  130787817  60673.1877     1   5.631177   3.113780              0
13014713  130787817  60674.2000     1   3.357212   4.125772              0

[37579970 rows x 6 columns]

In [10]:
sample = sample.drop(columns="detected_bool")
sample

                 id        time  band       flux    fluxerr
0               384  59770.3662     2   0.316210   0.628482
1               384  59770.3740     1  -1.227068   0.615700
2               384  59770.3817     3  -0.209973   1.062899
3               384  59770.3928     4   0.782777   1.821998
4               384  59770.4039     5   0.230164   4.643204
...             ...         ...   ...        ...        ...
13014709  130787817  60670.3031     1  -1.138754   2.484680
13014710  130787817  60671.1935     0  11.299595   9.025595
13014711  130787817  60672.1950     0  -4.444971  11.218284
13014712  130787817  60673.1877     1   5.631177   3.113780
13014713  130787817  60674.2000     1   3.357212   4.125772

[37579970 rows x 5 columns]

In [11]:
#drop objects that aren't supernova
sample = sample[sample.id.isin(sample_ids)]
sample

                 id        time  band       flux    fluxerr
0               384  59770.3662     2   0.316210   0.628482
1               384  59770.3740     1  -1.227068   0.615700
2               384  59770.3817     3  -0.209973   1.062899
3               384  59770.3928     4   0.782777   1.821998
4               384  59770.4039     5   0.230164   4.643204
...             ...         ...   ...        ...        ...
13014709  130787817  60670.3031     1  -1.138754   2.484680
13014710  130787817  60671.1935     0  11.299595   9.025595
13014711  130787817  60672.1950     0  -4.444971  11.218284
13014712  130787817  60673.1877     1   5.631177   3.113780
13014713  130787817  60674.2000     1   3.357212   4.125772

[33745204 rows x 5 columns]

In [12]:
#drop passbands that aren't r and g
sample = sample[sample.band.isin([1,2])]
sample

                 id        time  band      flux   fluxerr
0               384  59770.3662     2  0.316210  0.628482
1               384  59770.3740     1 -1.227068  0.615700
5               384  59779.3999     2  0.179393  2.079596
6               384  59779.4075     1 -0.475597  2.834433
10              384  59782.2372     2  0.118165  1.236740
...             ...         ...   ...       ...       ...
13014701  130787817  60647.2724     2 -4.898113  3.346148
13014702  130787817  60651.2704     2 -0.597589  4.174176
13014709  130787817  60670.3031     1 -1.138754  2.484680
13014712  130787817  60673.1877     1  5.631177  3.113780
13014713  130787817  60674.2000     1  3.357212  4.125772

[8813128 rows x 5 columns]

In [13]:
#drop duplicate rows if any
sample = sample.drop_duplicates(keep='first')
sample

                 id        time  band      flux   fluxerr
0               384  59770.3662     2  0.316210  0.628482
1               384  59770.3740     1 -1.227068  0.615700
5               384  59779.3999     2  0.179393  2.079596
6               384  59779.4075     1 -0.475597  2.834433
10              384  59782.2372     2  0.118165  1.236740
...             ...         ...   ...       ...       ...
13014701  130787817  60647.2724     2 -4.898113  3.346148
13014702  130787817  60651.2704     2 -0.597589  4.174176
13014709  130787817  60670.3031     1 -1.138754  2.484680
13014712  130787817  60673.1877     1  5.631177  3.113780
13014713  130787817  60674.2000     1  3.357212  4.125772

[8655355 rows x 5 columns]

In [15]:
#drop all negative values 
#sample = sample[sample.flux>=0]
#sample

In [14]:
#get the ids for each item in the sample 
ids = sample.id.unique()
ids.shape==sample_ids.shape #sanity check
print(ids.shape)
print(sample_ids.shape)

(254570,)
(254570,)

In [18]:
#sample_100=sample.head(50000).copy()

In [17]:
#sample_100["flux"]=flux_to_abmag(sample_100.flux,zp=22)
#sample_100["fluxerr"]=flux_to_abmag(sample_100.fluxerr,zp=22)
#sample_100

In [18]:
#sanity check
#obj_0 = sample_100[sample_100.id.unique()[15] == sample_100.id]
#fig_0,ax=plt.subplots(1, 2,figsize=(15,7))

#obj_0_f = sample[sample_100.id.unique()[15] == sample.id]

#r_0=obj_0[obj_0.band==1]
#g_0=obj_0[obj_0.band==2]
#ax[0].invert_yaxis()
#ax[0].plot(r_0.time,r_0.flux,'ro-',g_0.time,g_0.flux,'go-')

#r_0_f=obj_0_f[obj_0_f.band==1]
#g_0_f=obj_0_f[obj_0_f.band==2]
#ax[1].plot(r_0_f.time,r_0_f.flux,'ro-',g_0_f.time,g_0_f.flux,'go-')

In [19]:
#? how big is error
#sample_100_dif = np.abs(sample_100['flux']-sample_100['fluxerr'])
#sample_100_dif.mean()

In [15]:
def retag(targets):
    retagged = targets.copy()
    for i,c in enumerate(classes):
        retagged.loc[retagged==c] = i
    return retagged

#get the tags for them
sample_tags = sample_meta[sample_meta.object_id.isin(ids)].true_target
#retag in sensible way
sample_tags = retag(sample_tags).values
sample_tags.size==sample_ids.shape[0] #sanity check

True

In [21]:
#lets go small 1st
#ids_100 = sample_100.id.unique()
#sample_tags_100 = sample_meta[sample_meta.object_id.isin(ids_100)].true_target
#sample_tags_100 = retag(sample_tags_100).values
#tags_100 = pd.DataFrame(data={'id':ids_100, 'type':sample_tags_100})
#tags_100

In [22]:
#x_100,ids_100,y_100=create_interpolated_vectors(sample_100,tags_100,128)

In [23]:
#print(x_100.shape)
#print(ids_100.shape)
#print(y_100.shape)

In [16]:
tags = pd.DataFrame(data={'id':ids, 'type':sample_tags})
tags

               id  type
0             384     0
1             622     3
2            1266     3
3            1536     3
4            1578     2
...           ...   ...
254565  130779726     0
254566  130781636     0
254567  130783161     0
254568  130786705     0
254569  130787817     0

[254570 rows x 2 columns]

In [17]:
def check_lc_length(data, tags, length):
    obj_ids = tags.id.unique()
    #different ids for different passbands
    data_cp = data.copy()
    data_cp['ob_p']=data.id*10+data.band
    #get dataframe with min and max mjd values per each object id
    group_by_mjd = data_cp.groupby(['id'])['time'].agg(['min', 'max']).rename(columns = lambda x : 'time_' + x).reset_index()
    group_by_mjd["time_diff"]=group_by_mjd.time_max-group_by_mjd.time_min
    return group_by_mjd

In [18]:
lc_time = check_lc_length(sample,tags,128)

In [19]:
lc_time.time_diff.describe()

count    254570.000000
mean        865.342566
std          97.844107
min         452.837600
25%         806.790200
50%         839.795200
75%         883.613600
max        1087.976600
Name: time_diff, dtype: float64

In [21]:
#if I drop negatives and convert to magnitudes this fails. possibly because some lcs will cease to have data
#for a band
x,ids,y=create_interpolated_vectors(sample,tags,128)

In [22]:
x.shape

(254570, 4, 128)

In [23]:
y.shape

(254570,)

In [24]:
ids.shape

(254570,)

In [25]:
dataset = {"X":x,"ids":ids,"Y": y}

In [26]:
save_vectors(dataset, "plasticc_sample_sns_rg.h5")

writing X
writing ids
writing Y